<div class="content-body">

    <h4>Departmental Statistics</h4>
<br>
<br>

                <button type="button" (click)="departmentalStudentStatistics()"
                    class="student-statistics btn btn-info">Student Statistics
                    </button>

                <button  type="button" (click)="departmentalCompanyStatistics()"
                    class="company-statistics btn 
                    btn-info">Company Statistics
                    </button>

<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
