<button class="btn btn-success" (click)="download()">Download</button>
    <div *ngIf="student" id="letter">
        <div class="shift-down-one-break-for-firefox">
    </div>

<div class="letter-head">

    <div class="coe-heading">
        <img class="knust-logo" src="../../../assets/img/knust-logo.png" >
        <h3>COLLEGE OF ENGINEERING</h3>
        <img class="coe-logo" src="../../../assets/img/coe-logo.png" >
    </div>
    <div class="knust-heading">
        <h5 class="knust-in-full">KWAME NKRUMAH UNIVERSITY OF SCIENCE AND TECHNOLOGY</h5>
    </div>
    <br>

    <h5>Office of the Provost </h5>

<div class="senders-address">
<address class="return-address">
    <p align="right" > University Post Office <br>
        Kumasi-Ghana West Africa <br>
        Direct Line: 233-3220-60240 <br>
        Tel/Fax: 233-3220-60317 <br>
        Email:<font color="blue"><i>provost.coe@knust.edu.gh</i></font>
    </p>
</address>
</div>
<hr>

<div class="our-reference">
    <p>Our Ref:CoE-VACT/{{year}}/</p>
</div>

<div class="letter-date">
    <p>{{full_date | date:'fullDate'}}</p>
</div>
<br>

</div>

<p>Dear Sir/Madam,</p>
<div class="letter-intro">
    <p>VACATION TRAINING FOR {{year-1}}/{{year}} ACADEMIC YEAR</p>
    <p>LETTER OF INTRODUCTION</p>
</div>
<div class="letter-content">

    The College of Engineering of the Kwame Nkrumah University of Science and Technology seeks to become a
    global college of engineering focused on national industrial development. This means among other things
    that the need for students to have exposure to industrial practice early in their engineering education
    is one of the important pillars of their training. Therefore as part of our requirements for graduation
    in the B.Sc Engineering Degree programmes, students must complete a minimum of 8-week industrial attachment
    programme with a local or an overseas industrial establishment between May and August.
    The purpose of the vacation training among other things is to enable students to translate the theories
    they have learnt in the classroom into tasks in a real work environment.

    The purpose of this letter is first of all to thank you for the support you have been offering us in
    previous years in the training of our young engineers and also the monitoring and evaluation of our
    students during the vacation training period.

    The College of Engineering, KNUST, would like to seek for vacation training placement in your company
    for <b>{{ student[0].surname | titlecase}} {{ student[0].other_names |
    titlecase}}</b> ,a 3rd Year
    student from the <b>{{ student[0].department | titlecase}} Engineering Department</b>.
    We would be most grateful, if you could offer him/her a vacation training position in your company.
    Thank you in anticipation of your cooperation.

</div>
<br>

    <!-- The College of Engineering of the Kwame Nkrumah University of Science and Technology seeks to become a -->
    <!-- global college of engineering focused on national industrial development. This means among other things -->
    <!-- that the need for technicians to have exposure to industrial practice in their engineering education -->
    <!-- is one of the important pillars of their training. --> 
    <!-- <br> -->

    <!-- The purpose of this letter is first of all to thank you for the support you have been offering us in -->
    <!-- previous years in the training of our young engineers and also the monitoring and evaluation of --> 
    <!-- them during the vacation training period. -->

    <!-- <br> -->
    <!-- <br> -->

    <!-- The College of Engineering, KNUST, would like to seek for vacation training placement in your company -->
    <!-- for {{ student[0].surname | titlecase}} {{ student[0].other_names | -->
    <!-- titlecase}} , a techinician in the College of Engineering,KNUST. -->
    <!--   -->
    <!-- We would be most grateful, if you could offer him a vacation training position in your company. -->
    <!-- <br> -->
    <!-- Thank you in anticipation of your cooperation. -->

<div>
<div class="closing-coordinator">
    <p>Yours sincerely,</p>
            <img src="../../../../assets/img/mr_agyekum_signature.jpg"><br>
    <p>Ing. Kwame Agyekum 
    <br>
   (College Internship Coordinator)
   </p>
</div>
<div class="closing-provost">
    <br>
    <img src="../../../assets/img/provost_prof_mark_signature.jpg"><br> 
    <p>Ing. Prof. Mark Adom-Asamoah
    <br>
(Provost, College of Engineering)
   </p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<div class="letter-footer">
<font color="blue"><i>Departments</i></font>: Aerospace Engineering, Agricultural
 Engineering, Biomedical Engineering, Chemical Engineering, Civil Engineering, Computer Engineering,
Electrical and Electronic Engineering, Geological Engineering, Geomatic
Engineering, Materials Engineering, Mechanical
Engineering, Metallurgical Engineering, Petrochemical Engineering, Petroleum Engineering,
Telecommunication Engineering.
<br class=footer-br>
<div class="energy-centres">
<font color="blue"><i>Research Centres</i></font>: Technology Consultancy
Centre, The Energy Centre.
</div>
</div>



</div>
</div>
<!-- <button class="btn btn-success" (click)="download()">Download</button> -->
<!--     <div *ngIf="student" id="letter"> -->
<!--         <div class="shift-down-one-break-for-firefox"> -->
<!--     </div> -->

<!-- <div class="letter-head"> -->

<!--     <div class="coe-heading"> -->
<!--         <img class="knust-logo" src="../../../assets/img/knust-logo.png" > -->
<!--         <h3>COLLEGE OF ENGINEERING</h3> -->
<!--         <img class="coe-logo" src="../../../assets/img/coe-logo.png" > -->
<!--     </div> -->
<!--     <div class="knust-heading"> -->
<!--         <h5 class="knust-in-full">KWAME NKRUMAH UNIVERSITY OF SCIENCE AND TECHNOLOGY</h5> -->
<!--     </div> -->
<!--     <br> -->

<!--     <h5>Office of the Provost </h5> -->

<!-- <div class="senders-address"> -->
<!-- <address class="return-address"> -->
<!--     <p align="right" > University Post Office <br> -->
<!--         Kumasi-Ghana West Africa <br> -->
<!--         Direct Line: 233-3220-60240 <br> -->
<!--         Tel/Fax: 233-3220-60317 <br> -->
<!--         Email:<font color="blue"><i>provost.coe@knust.edu.gh</i></font> -->
<!--     </p> -->
<!-- </address> -->
<!-- </div> -->
<!-- <hr> -->

<!-- <div class="our-reference"> -->
<!--     <p>Our Ref:CoE-VACT/{{year-1}}/</p> -->
<!-- </div> -->

<!-- <div class="letter-date"> -->
<!--     <p>16th April,2017</p> -->
<!-- </div> -->
<!-- <br> -->

<!-- </div> -->

<!-- <p>Dear Sir/Madam,</p> -->
<!-- <div class="letter-intro"> -->
<!--     <p>VACATION TRAINING FOR {{year-2}}/{{year-1}} ACADEMIC YEAR</p> -->
<!--     <p>LETTER OF INTRODUCTION</p> -->
<!-- </div> -->
<!-- <div class="letter-content"> -->

<!--     The College of Engineering of the Kwame Nkrumah University of Science and Technology seeks to become a -->
<!--     global college of engineering focused on national industrial development. This means among other things -->
<!--     that the need for students to have exposure to industrial practice early in their engineering education -->
<!--     is one of the important pillars of their training. Therefore as part of our requirements for graduation -->
<!--     in the B.Sc Engineering Degree programmes, students must complete a minimum of 8-week industrial attachment -->
<!--     programme with a local or an overseas industrial establishment between May and August. -->
<!--     The purpose of the vacation training among other things is to enable students to translate the theories -->
<!--     they have learnt in the classroom into tasks in a real work environment. -->

<!--     The purpose of this letter is first of all to thank you for the support you have been offering us in -->
<!--     previous years in the training of our young engineers and also the monitoring and evaluation of our -->
<!--     students during the vacation training period. -->

<!--     The College of Engineering, KNUST, would like to seek for vacation training placement in your company -->
<!--     for {{ student[0].surname | titlecase}} {{ student[0].other_names | titlecase}} , a 3rd Year -->
<!--     student from the {{ student[0].department | titlecase}} Engineering Department. -->
<!--       -->
<!--     We would be most grateful, if you could offer him/her a vacation training position in your company. -->
<!--     Thank you in anticipation of your cooperation. -->

<!-- </div> -->
<!-- <br> -->

<!--     <1!-- The College of Engineering of the Kwame Nkrumah University of Science and Technology seeks to become a --1> -->
<!--     <1!-- global college of engineering focused on national industrial development. This means among other things --1> -->
<!--     <1!-- that the need for technicians to have exposure to industrial practice in their engineering education --1> -->
<!--     <1!-- is one of the important pillars of their training. --1> --> 
<!--     <1!-- <br> --1> -->

<!--     <1!-- The purpose of this letter is first of all to thank you for the support you have been offering us in --1> -->
<!--     <1!-- previous years in the training of our young engineers and also the monitoring and evaluation of --1> --> 
<!--     <1!-- them during the vacation training period. --1> -->

<!--     <1!-- <br> --1> -->
<!--     <1!-- <br> --1> -->

<!--     <1!-- The College of Engineering, KNUST, would like to seek for vacation training placement in your company --1> -->
<!--     <1!-- for {{ student[0].surname | titlecase}} {{ student[0].other_names | --1> -->
<!--     <1!-- titlecase}} , a techinician in the College of Engineering,KNUST. --1> -->
<!--     <1!--   --1> -->
<!--     <1!-- We would be most grateful, if you could offer him a vacation training position in your company. --1> -->
<!--     <1!-- <br> --1> -->
<!--     <1!-- Thank you in anticipation of your cooperation. --1> -->

<!-- <div> -->
<!-- <div class="closing-coordinator"> -->
<!--     <p>Yours sincerely,</p> -->
<!--             <img src="../../../../assets/img/dr_p_y_andoh.jpg"><br> -->
<!--     <p>Ing. Dr P.Y. Andoh -->
<!--     <br> -->
<!--    (College Internship Coordinator) -->
<!--    </p> -->
<!-- </div> -->
<!-- <div class="closing-provost"> -->
<!--     <p>Yours sincerely,</p> -->
<!--     <img src="../../../assets/img/provost_prof_mark_signature.jpg"><br> --> 
<!--     <p>Ing. Prof. Mark Adom-Asamoah -->
<!--     <br> -->
<!-- (Provost, College of Engineering) -->
<!--    </p> -->
<!-- </div> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->

<!-- <hr> -->
<!-- <div class="letter-footer"> -->
<!-- <font color="blue"><i>Departments</i></font>: Aerospace Engineering, Agricultural -->
<!--  Engineering, Biomedical Engineering, Chemical Engineering, Civil Engineering, Computer Engineering, -->
<!-- Electrical and Electronic Engineering, Geological Engineering, Geomatic -->
<!-- Engineering, Materials Engineering, Mechanical -->
<!-- Engineering, Metallurgical Engineering, Petrochemical Engineering, Petroleum Engineering, -->
<!-- Telecommunication Engineering. -->
<!-- <br class=footer-br> -->
<!-- <div class="energy-centres"> -->
<!-- <font color="blue"><i>Research Centres</i></font>: Technology Consultancy -->
<!-- Centre, The Energy Centre. -->
<!-- </div> -->
<!-- </div> -->



<!-- </div> -->
<!-- </div> -->
