<div class="student-login-background-image">
	
</div>
	<div class="wrapper">
    <form  class="sign-in-form" [formGroup]="passwordResetForm"
(ngSubmit)="resetPassword()"  novalidate >
<div>

                      <div [ngClass]="{'has-error':passwordResetForm.controls.index_number?.touched && 
                      passwordResetForm.controls.index_number?.errors,
                      'has-success' :passwordResetForm.controls.index_number?.touched
                      && passwordResetForm.controls.index_number?.valid }" >
        <div class="form-group">
            <input id="index_number" class="form-control " type="text" name="index_number" placeholder="Index Number" formControlName="index_number">
                    <span class=" help-block" *ngIf="  passwordResetForm.get('index_number').errors

&& passwordResetForm.get('index_number').errors.not_registered
&&
passwordResetForm.get('index_number').touched">

                       This Index Number Has Not Been Registered
                    </span>
                    <span class=" help-block" *ngIf="  passwordResetForm.get('index_number').errors

&& passwordResetForm.get('index_number').hasError('minlength')

|| passwordResetForm.get('index_number').hasError('maxlength')



&& 
passwordResetForm.controls.index_number?.touched">

                      Invalid Index Number 
                    </span>
        </div>


<div formGroupName="passwords">

<div
                    [ngClass]="{'has-error':passwordResetForm['controls'].passwords['controls'].password.touched && 
                        passwordResetForm['controls'].passwords['controls'].password.errors,
                      'has-success': 
                        passwordResetForm['controls'].passwords['controls'].password.touched && 
                        passwordResetForm['controls'].passwords['controls'].password.valid}"
                  class="form-group row">
                          <div class="col-sm-10">
          <input id="password" placeholder="New Password"  class="form-control"
          type="password" name="New Password" formControlName="password"> <div class="help-block" *ngIf="passwordResetForm.get('passwords').get('password').hasError('required')
        && passwordResetForm.get('passwords').get('password').touched"> Password is required 
                </div>
                <div class="help-block" *ngIf="passwordResetForm.get('passwords').get('password').hasError('minlength')
        && passwordResetForm.get('passwords').get('password').touched">
                    password should be 5 or more  characters!
</div>

                </div>


              </div>
 <div
                     [ngClass]="{'has-error':passwordResetForm['controls'].passwords['controls'].confirm_password.touched && 
                        passwordResetForm['controls'].passwords['controls'].confirm_password.errors,
                      'has-success': 
                        passwordResetForm['controls'].passwords['controls'].confirm_password.touched && 
                        passwordResetForm['controls'].passwords['controls'].confirm_password.valid
                        &&
                        passwordResetForm['controls'].passwords.valid}"

                  class="form-group row">

                          <div class="col-sm-10">
          <input id="confirm_password" class="form-control"
                                       placeholder="Confirm Password" type="password" name="confirm_password"
                 formControlName="confirm_password">

          <span class="help-block" *ngIf="passwordResetForm.get('passwords').get('confirm_password').hasError('required')
        && passwordResetForm.get('passwords').get('confirm_password').touched">
              confirm password is required!

          </span>

          <span class="help-block" *ngIf="passwordResetForm.get('passwords').hasError('passwordMismatch')
        && passwordResetForm.get('passwords').get('confirm_password').touched">
              Password mismatch!
          </span>
          </div>



              </div>
       
                </div>

<div [hidden]="incorrect_credentials_alert ||
passwordResetForm.controls.index_number.dirty"

     class=" wrong-credentials alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Index Number and password do not match!
	</div>
		<button class="btn login-button" type="submit"
                                            [disabled]="passwordResetForm.controls.index_number?.errors
                                                ||
                                                passwordResetForm.controls.passwords?.errors"
>Reset</button>
        </div>
        </div>

    </form>


</div>



<!-- <div class="dropdown"> -->
<!--   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> -->
<!--     Dropdown -->
<!--     <span class="caret"></span> -->
<!--   </button> -->
<!--   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"> -->
<!--     <li><a href="#">Action</a></li> -->
<!--     <li><a href="#">Another action</a></li> -->
<!--     <li><a href="#">Something else here</a></li> -->
<!--     <li role="separator" class="divider"></li> -->
<!--     <li><a href="#">Separated link</a></li> -->
<!--   </ul> -->
<!-- </div> -->
