<div class="content-body">
    <br>

    <h4>Do You Have Any Concerns During The Course of Your Training.</h4>
    <h4>File it below(Note that this will be forwarded to the Internship
        Coordinator Of Your Department)</h4>

    <form [formGroup]="concernForm"
     (ngSubmit)="fileConcern()" novalidate >
     <div class="form-group complaint-box">
         <label for="concern-tite">Concern Title:</label>
         <input type="text" formControlName="concern_title" >
         <br>
         <div *ngIf="concernForm.get('concern_title').hasError('maxlength')
         && concernForm.get('concern_title').touched" class="alert
         alert-danger" role="alert">Aaahhbbba Please Summarise Your
         Concern Title</div>

         <label for="comment">Concern Message:</label>
         <textarea class="form-control" rows="5" id="comment"
                                                 formControlName="concern_message"></textarea>
         <div *ngIf="concernForm.get('concern_message').hasError('maxlength')
         && concernForm.get('concern_message').touched" class="alert
         alert-danger" role="alert">Aaahhbbba Please Summarise Your
         Concern Message</div>
         <div [hidden]="!sending_email"class= "alert alert-warning" >
             Forwading Concern To Coordinator Please Wait...
             </div>
         <button [disabled]="concernForm.invalid || sending_email" class="send-complaint-button btn btn-success">Send</button>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>


     </div><br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>Do you have an issue or a suggestion concerning the site, please email the
    admin vacationtraining.coe@gmail.com</p>
</div>
