<div class="content-body">

    <h4>General Number Statistics</h4>
<br>
<br>

                <button type="button" (click)="generalStudentStatistics()"
                    class="student-statistics btn btn-info">Student Statistics
                    </button>

                <button  type="button" (click)="generalCompanyStatistics()"
                    class="company-statistics btn 
                    btn-info">Company Statistics
                    </button>

<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
