<nav *ngIf="nav.visible"  class="navbar navbar-inverse navbar-fixed-top">
      <!-- <div class="container"> -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a >Coe-IPS</a></li>
            <li><a [routerLink]="['student']">Student</a></li>
            <li><a [routerLink]="['company']">Company</a></li>
            <li><a [routerLink]="['coordinator']">Coordinator</a></li>
            <li><a [routerLink]="['admin/login']">Admin</a></li>
          </ul>
        </div>
        <!-- </nav> -->



<div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Welcome To The College of Engineering Internship Placement System</h1>
          <h2 class="subtitle">This is the homepage of the College of Engineering Internship Placement System where 3rd year engineering students are required to sign up inorder to be placed into various companies for their vacation training exercise. Also various organizations who would like to give KNUST engineering students a chance to have their vacation training exercise in their companies should also sign up inorder to place an order on the number of students they need and the various departments they need the students from.</h2>
          <form class="form-inline signup" role="form">
          </form>
        </div>
        
<br>
<br>
<br>

