agm-map {
    padding:20px;
    height: 400px;
    width:400;
}

.content-body{
    text-align:justify;
   background-color:#fff; 
   border-style:solid;
   border-width:1px;
   border-color:#C1C1C1;
   padding:0px 10px 0px 10px;
}

form{
    max-width:700px;
    margin:50px auto;
    /* padding: 15px 35px 45px; */
    /* margin: 0 auto; */
    /* background-color: transparent; */
    /* border: 1px solid rgba(0,0,0,0); */ 
    /* position: absolute; /1* Position the background text *1/ */
    /* top:50%; */
    /* left:50%; */
    /* transform: translate(-50%,-50%); */
}

h4{
text-align:center;
}

.register-company-button {

    display:block;
    margin:0 auto;
}

.company-want-more-button {
    float:left;
    margin-left:30px;
}

.company-dont-want-more-button {
    float:right;
    margin-right:30px;
}

.want-more-or-not-buttons{
    margin-top:-20px;
}
.submit-order-button{
    display:block;
    margin:0 auto;
}

.back-button{
    float:left;
}
