<div class="content-body">

<div>

    <h4>Placement & Rejection</h4>
<br>
<br>

                <button type="button" (click)="manualPlacement()"
                    class="manual-placement btn btn-info">Manual Placement</button>

                <button  type="button" (click)="manualRejection()"
                    class="manual-rejection btn 
                    btn-info">Rejection
                    </button>

<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
