<div class="content-body">

<div *ngFor="let loop of loops">
    <h4><u>Student Graph Statistics For Department</u></h4>
<br>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            ></canvas>
  </div>
</div>
<br>
<br>
<div>
    <h4><u>Company Graph Statistics</u></h4>
    <p>This chart(in %) represents the top 10 companies that 
    made the highest request for students from your department</p>
<br>
<div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="chartColors"
              ></canvas>
</div>
</div>
