<div class="content-body">

    <h4>Automatic Placement</h4>
<br>



<br>

                <button type="button" (click)="placeStudents()"
                    class="automatic-placement btn btn-info">Automatically Place
                    Students
                    </button>

                <button  type="button" (click)="undoAllPlacement()"
                    class="undo-placement btn 
                    btn-info">Undo All Placement
                    </button>
<br>
<br>
<br>

<div class="loading-directions" *ngIf="loading_data">
        <img src="../../../assets/img/loading_icon.gif" alt="" height="100" width="100">
        <h5>Loading ,This will take quite sometime Please wait</h5>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
