<div class="content-body">                
    
        <div class="alert alert-warning" role="alert">
            <h4>Placement Has Not Been Done</h4>
                <button type="button" (click)="getIntroductoryLetter()"
                    class="introductory-letter-button btn btn-default">Download Introductory Letter</button>
        </div> 
        <h4> Please Read The Following Instructions Carefully </h4>
        <p>
        <br>
        1. Placement will be done before the semester ends for you to know the company you have been placed in.
                <br>
                <br>
                

2. If you want your introductory letter, you can download it by clicking on the
"Download Introductory Letter" button above.<br>
                <br>

3. If you send the introductory letter to a company and they accept you,do well
to get a confirmation letter from them to indicate that they have accepted you
and <b> INFORM YOUR DEPARTMENT INTERNSHIP COORDINATOR ABOUT IT</b>.
                <br>
                <br>

4. After placement is done, you'll know the next step to take. 
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>


                </p>
                </div>
