<div class="content-body">
    </div>
    <div>
        <br>

    <div [hidden]="!hide_order_student_form" >
        <button  type="button"
                 (click)="selectFromRegisteredCompanyAndPlaceStudents()"
                 class="select-company btn
                 btn-danger">Select From Registered Companies And Place
        </button>


        <button type="button" (click)="registerCompanyAndPlaceStudent();myMap.triggerResize()"
                class="register-company btn btn-danger">Register New Company &
                Place</button>
</div>

        <br>
        <br>
        <br>
        <br>
        <br>
<div class="loading-directions" *ngIf="loading_data">
        <img src="../../../assets/img/loading_icon.gif" alt="" height="100" width="100">
        <h5>Loading Data,Please Wait</h5>
    </div>
              <div [hidden]="hide_select_from_company_list_option" class="
                  alert alert-info select_from_registered_companies">
        <form class="registration-form-wrapper"
              [formGroup]="placeStudentFromCompanySelectForm"


              (ngSubmit)="placeStudentsInSelectedCompany()" novalidate >

                  <div class="form-group row"  [ngClass]="{'has-error':placeStudentFromCompanySelectForm.controls.company?.touched &&
                      placeStudentFromCompanySelectForm.controls.company?.errors,
                      'has-success' :placeStudentFromCompanySelectForm.controls.company?.touched
                      && placeStudentFromCompanySelectForm.controls.company?.valid }" >

                  <label for="department" class="control-label col-sm-2
                  col-form-label" >Please Select The Company:</label>


                  <div class="col-sm-10" >
                      <select (change)="onSelectCompany()" id="company" class="form-control"
                                                                        type="text" formControlName="company">
                          <option *ngFor="let company of
                          companies; let i =index "
                                                                                    [value]="company.user_id">
                          {{company.name }} -
                          {{company.location.district}},{{company.location.region}}
                          </option>
                      </select>
                          <span class=" help-block"*ngIf="placeStudentFromCompanySelectForm.get('company').hasError('required')
                          && placeStudentFromCompanySelectForm.get('company').touched
                          ">
                              Please Select Company
                          </span>
                  </div>
                  </div>
                  <div formArrayName="studentsData">
                      <div *ngFor="let student of
                      placeStudentFromCompanySelectForm.controls.studentsData['controls']; let i = index" [formGroupName]="i">

                          <div formArrayName="index_numberData">
                              <button type="button" class="add-student btn btn-success"
                                               [disabled]="!company_selected"     (click)="addStudent(student.controls.index_numberData)">Add
                                                    Student
                              </button>
                              <br>
                              <br>


                              <div  *ngFor="let i_d of
                              student.controls.index_numberData.controls;
                              let j = index "[formGroupName]="j">
                                  <br>
                                  <div class="remove-student" >

                                      <input formControlName="index_number" placeholder="Index Number"/>
                                      <button  type="button"
                                               (click)="removeStudent(student,j)"
                                               class="btn
                                               btn-primary">Remove Student
                                      </button>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.required
                      && i_d.controls.index_number.touched">
                    Index Number Is Required!
                </span>
                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.minlength
                      && i_d.controls.index_number.touched">
                    Index Number Should Not Be Less Than 7 In Number!
                </span>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.maxlength
                      && i_d.controls.index_number.touched">
                    Index Number Should Not Be Greater Than 7 In Number!
                </span>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.pattern
                      && i_d.controls.index_number.touched">
                     Index Number, Not Index Letters!
                 </span>


                                  </div>
                                  <br>
                              </div>

                              <br>
                          </div>
                      </div>
                  </div>
                  <br>



                      <button type="submit" class="add-student btn btn-lg btn-warning"
                                            [disabled]="placeStudentFromCompanySelectForm.invalid
                                            || placing_student"
                                            >Place Student(s)</button>

                      <br>
                      <br>
                      <br>
                      
<div [hidden]="!placing_student" class="alert alert-warning">Placing Students,
        Please Wait...</div>

        </form>

              </div>


<div [hidden]="hide_register_company_and_place">

<form

     [formGroup]="companyRegistrationForm"
     (ngSubmit)="registerCompany()"
     novalidate>

<br>


<div [ngClass]="{'has-error':companyRegistrationForm.controls.name?.touched && companyRegistrationForm.controls.name?.errors,
                      'has-success'
                      :companyRegistrationForm.controls.name?.touched
                      && companyRegistrationForm.controls.name?.valid }"
                  class="form-group row">

                          <label for="company_name" class="control-label col-sm-2
                              col-form-label" >Company Name:</label>

                          <div class="col-sm-10">
                              <input id="_name" class="form-control"
                              type="text" formControlName="name">
                          <span class="
                          help-block"*ngIf="companyRegistrationForm.get('name').hasError('required')
                          && companyRegistrationForm.get('name').touched
                          ">
                              Name Of Company Is Required!
                          </span>

                      </div>
                          </div>

<div [ngClass]="{'has-error':companyRegistrationForm.controls.email?.touched &&
                      companyRegistrationForm.controls.email?.errors,
                      'has-success'
                      :companyRegistrationForm.controls.email?.touched
                      && companyRegistrationForm.controls.email?.valid }"
                  class="form-group row">

                          <label for="company_email" class="control-label col-sm-2
                              col-form-label" >Company Email If Any:</label>

                          <div class="col-sm-10">
                              <input id="email" class="form-control"
                              type="text"  formControlName="email">
                          <!-- <span class=" -->
                          <!-- help-block"*ngIf="companyRegistrationForm.get('email').hasError('required') -->
                          <!-- && companyRegistrationForm.get('email').touched -->
                          <!-- "> -->
                          <!--     Email Of Company Is Required! -->
                          <!-- </span> -->

<span class="
                          help-block"*ngIf="companyRegistrationForm.get('email').errors
                          &&
                          companyRegistrationForm.get('email').errors.incorrectMailFormat

                          && companyRegistrationForm.get('email').touched
                          ">
                              Please Enter A Valid Email
                          </span>

                      </div>
                          </div>


        <div [ngClass]="{'has-error':companyRegistrationForm.controls.phone?.touched &&
                      companyRegistrationForm.controls.phone?.errors,
                      'has-success'
                      :companyRegistrationForm.controls.phone?.touched
                      && companyRegistrationForm.controls.phone?.valid }"
                  class="form-group row">

                          <label for="company_phone" class="control-label col-sm-2
                              col-form-label" >Contact Number If Any:</label>

                          <div class="col-sm-10">
                              <input id="phone" class="form-control"
                              type="text" phone="phone" formControlName="phone">
                          <!-- <span class=" -->
                          <!-- help-block"*ngIf="companyRegistrationForm.get('phone').hasError('required') -->
                          <!-- && companyRegistrationForm.get('phone').touched -->
                          <!-- "> -->
                          <!--     Contact Number Of Company Is Required! -->
                          <!-- </span> -->

<span class="
                          help-block"*ngIf="companyRegistrationForm.get('phone').hasError('pattern')

                          && companyRegistrationForm.get('phone').touched
                          ">
                              Please Enter A Valid Phone!
                          </span>

                      </div>
                          </div>
        <div class="form-group">
            <label for="postal_address">Post Address Of Company If Any</label>
            <input id="postal_address" class="form-control" type="text" postal_address="postal_address"
                                                                         ormControlName="postal_address">
        </div>

        <div class="form-group">
            <label for="website">Website Address If Any</label>
            <input id="website" class="form-control" type="text" website="website"
                                                                         formControlName="website">
        </div>




        <div formGroupName="location" >
                                     <label  for="location">Place of Residence</label>
                          <input placeholder="search for location"
                                 autocorrect="off" autocapitalize="off"
                                 spellcheck="off" type="text"
                                                  class="location-input form-control"
                                 #search_ref formControlName="search_place"
                                             >


                          <div class=" help-block"
                      *ngIf="companyRegistrationForm.get('location').get('search_place').touched &&
                      companyRegistrationForm.get('location').get('search_place').hasError('required')"
                        >Location Is Required!
                      </div>

                          <div class=" help-block"
                      *ngIf="companyRegistrationForm.get('location').get('search_place').valid
                               && !search_input_valid"
                        > Select from the suggested locations
                      </div>

<div>

                            <agm-map #myMap [latitude]="latitude"
                                 [longitude]="longitude"
                                 [scrollwheel]="false" [zoom]="zoom">
                          <agm-marker
                            [latitude]="latitude"
                            [longitude]="longitude"></agm-marker>
                        </agm-map>
                        </div>

                      </div>


<div  class="form-group row">

                          <label for="company_representative_name" class="control-label col-sm-3
                              col-form-label" >Name Of Representative:</label>

                          <div class="col-sm-9">
                              <input id="company_representative_name"
                              class="form-control" type="text"
                              company_representative_name="company_representative_name"
                              formControlName="company_representative_name"
                                >
                <div class="alert alert-danger" *ngIf="companyRegistrationForm.get('company_representative_name').hasError('required')
                && companyRegistrationForm.get('company_representative_name').touched">
                    Please enter the name of the company representative.
                </div>
<div class="alert alert-danger"
*ngIf="companyRegistrationForm.get('company_representative_name').hasError('pattern')
                && companyRegistrationForm.get('company_representative_name').touched">
                    Name Not Valid.
                </div>
                
</div>
</div>



        <div  class="form-group row">

                          <label for="company_representative_email" class="control-label col-sm-3
                              col-form-label" >Email Of Representative:</label>

                          <div class="col-sm-9">
                              <input id="company_representative_email" class="form-control" type="text" company_representative_email="company_representative_email" formControlName="company_representative_email">



</div>
</div>
        <div  class="form-group row">

                          <label for="company_representative_phone" class="control-label col-sm-3
                              col-form-label" >Contact Number Of Representative:</label>

                          <div class="col-sm-9">
                              <input id="company_representative_phone"
                              class="form-control" type="text"
                              company_representative_phone="company_representative_phone"
                              formControlName="company_representative_phone"
                                >
                <div class="alert alert-danger" *ngIf="companyRegistrationForm.get('company_representative_phone').hasError('required')
                && companyRegistrationForm.get('company_representative_phone').touched">
                    Please enter the contact number of the company representative.
                </div>
<div class="alert alert-danger" *ngIf="companyRegistrationForm.get('company_representative_phone').hasError('pattern')
                          && companyRegistrationForm.get('company_representative_phone').touched">
                              Phone Number should be a minimum of 10 characters
                              and can only consist of numbers and '+'.ie
                              formats are 0201112223 or +233201112223
                              <br>
                              If you have more than one contact number,separate
                              them by the '/' .ie  +233201112223/+233404535115


                          </div>

</div>




        <br>
        <br>
        <br>

        <button class="register-company btn btn-success"
                                            [disabled]="companyRegistrationForm.controls.name?.errors
                                            ||
                                            companyRegistrationForm.controls.email.errors
                                            ||
                                            companyRegistrationForm.controls.phone.errors

                                            ||
                                            companyRegistrationForm.controls.location.get('name').errors

                                            ||
                                           registering_company
                                            "
            type="submit">Register Company</button>
<br>
<br>
<br>

    <div [hidden]="!registering_company" class="alert alert-warning">Registering Company,
        Please Wait...</div>
        </div>

    </form>

</div>
    <div [hidden]="hide_order_student_form" class="alert alert-info" >
        <h4 *ngIf="registered_company">
            Please Add Student(s) To Be Placed In 
            {{registered_company.name | uppercase}} Located
            At {{registered_company.location.name | titlecase}} 
        </h4>
        <br>
        <br>
        <br>
        <br>
        
    <form class="registration-form-wrapper"
              [formGroup]="placeStudentFromCompanyRegistrationForm"


              (ngSubmit)="placeStudentsInRegisteredCompany()" novalidate >

                  <div formArrayName="studentsData">
                      <div *ngFor="let student of
                      placeStudentFromCompanyRegistrationForm.controls.studentsData['controls'];
                      let i = index" [formGroupName]="i">

                          <div formArrayName="index_numberData">
                              <button type="button" class="add-student-for-registered-company btn btn-success"
                                               [disabled]="!company_registered"     (click)="addStudent(student.controls.index_numberData)">Add
                                                    Student
                              </button>
                              <br>
                              <br>


                              <div  *ngFor="let i_d of
                              student.controls.index_numberData.controls;
                              let j = index "[formGroupName]="j">
                                  <br>
                                  <div
                                  class="remove-student-for-registered-company
                                  ">

                                      <input formControlName="index_number"
                                      placeholder="Index Number" />
                                      <button  type="button"
                                               (click)="removeStudent(student,j)"
                                               class="btn
                                               btn-primary">Remove Student
                                      </button>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.required
                      && i_d.controls.index_number.touched">
                    Index Number Is Required!
                </span>
                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.minlength
                      && i_d.controls.index_number.touched">
                    Index Number Should Not Be Less Than 7 In Number!
                </span>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.maxlength
                      && i_d.controls.index_number.touched">
                    Index Number Should Not Be Greater Than 7 In Number!
                </span>

                <span class="help-block"
                      *ngIf="i_d.controls.index_number.errors?.pattern
                      && i_d.controls.index_number.touched">
                     Index Number, Not Index Letters!
                 </span>


                                  </div>
                                  <br>
                              </div>

                              <br>
                          </div>
                      </div>
                  </div>
                  <br>



                      <button type="submit" class="add-student-for-registered-company btn btn-lg btn-warning"
                                            [disabled]="placeStudentFromCompanyRegistrationForm.invalid
                                            || placing_student"
                                            >Place Student(s)</button>

                      <br>
                      <br>
                      <br>
                      
<div [hidden]="!placing_student" class="alert alert-warning">Placing Students,
        Please Wait...</div>


        </form>

    </div>
